@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  h2{
    font-size: 2rem;
  }
  h4{
    font-size: 1.6rem;
  }
  a{
    text-decoration: none;
  }
}


